main
{
    overflow: hidden;
}

.blue rect
{
    fill: #146872 !important;
}

.purple rect
{
    fill: #4F248B !important;
}

.yellow rect
{
    fill: #DEC655 !important;
}

.light-blue rect
{
    fill: #35CDD7 !important;
}

.green rect
{
    fill: #9AE156 !important;
}

::selection
{
  background-color: #9AE156;
  color: #06000e;
  -webkit-text-fill-color: #06000e;
  -webkit-text-stroke-color: transparent;
}